In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
#Se carga el archivo csv
df_radares = pd.read_csv('raw_data/flujo-vehicular-por-radares-2021.csv')
df_radares.head()

C:\Users\PC\AppData\Local\Temp\ipykernel_13996\3677199173.py:2: DtypeWarning: Columns (4,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_radares = pd.read_csv('raw_data/flujo-vehicular-por-radares-2021.csv')

,"Mes, Día, Año de H_Fecha",H_Hora,Aut Nombre,Disp Nombre,Disp Ubicacion,Seccion Sentido,Disp Lat,Disp Lng,H_Cant_Veh,Hora de H_Fecha
0,01/01/21,0.0,AU 4 Lugones,RD171 Esma,9.9,A,NaN,-58.45967,943,NaN
1,01/01/21,1.0,AU 4 Lugones,RD171 Esma,9.9,A,NaN,-58.45967,3946,NaN
2,01/01/21,2.0,AU 4 Lugones,RD171 Esma,9.9,A,NaN,-58.45967,4662,NaN
3,01/01/21,3.0,AU 4 Lugones,RD171 Esma,9.9,A,NaN,-58.45967,2486,NaN
4,01/01/21,4.0,AU 4 Lugones,RD171 Esma,9.9,A,NaN,-58.45967,1268,NaN

In [18]:
#Se extraen las columnas necesarias
df_radares = df_radares[['H_Hora','H_Cant_Veh']]
df_radares.head()

   H_Hora  H_Cant_Veh
0     0.0         943
1     1.0        3946
2     2.0        4662
3     3.0        2486
4     4.0        1268

In [19]:
df_radares.rename(columns={'H_Hora':'hora','H_Cant_Veh':'cantidad_vehiculos'},inplace=True)

In [20]:
df_radares.head()

   hora  cantidad_vehiculos
0   0.0                 943
1   1.0                3946
2   2.0                4662
3   3.0                2486
4   4.0                1268

In [21]:
#Se agrupa por hora sumando la cantidad de vehiculos
df_grouped = df_radares.groupby('hora')['cantidad_vehiculos'].sum().reset_index()

In [24]:
df_grouped.to_csv('processed_data/radares_AUSA.csv', index=False)

: